/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-bar,
.right-bar {
  width: 20%;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.middle-editor {
  width: 60%;
  height: auto;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  overflow-y: auto;
}

.uploaded-files img {
  max-width: 100%;
  height: auto;
}
